html {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: white;
  line-height: 24px;
  letter-spacing: .001em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #eddfe5;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

/* EDIT THESE VALUES FOR MY PICTURE*/
#background-image {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

/* EDIT THESE VALUES FOR MY PICTURE*/
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #background-image {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


/* BUTTON STYLING */

button {
    display: inline-block;
    border: none;
    padding: 0px;
    margin: 0;
    text-decoration: none;
    /*color: #ffffff;*/
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(1);
}


#sentiments-link {
  position: fixed;
  z-index: 13;
  top: 10px;
  right: 8px;
  background: none;
}

.container-1 {
  height: 500px;
}


.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  overflow: visible;
  width: 90%;
}

#subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 65px;
  overflow: visible;
  padding-left: 250px;
  width: 50%;
  z-index: 1000;
}

.section-id {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 0.3em;
  letter-spacing: .002em;
  color: #1414ef;
  padding-left: 30px;
  margin-top: 0px;
}


#section-1-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: visible;
  width: 40%;
  z-index: 1000;
}

#section-1-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0%;
  overflow: visible;
  z-index: 1000;
  margin-bottom: -20px;
}


#section-1-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-bottom: -10px;
}

#section-1-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-bottom: -10px;
  margin-left: 5%;
}

#section-1-4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-bottom: -10px;
  margin-right: 0%;
}

#section-2-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-bottom: -10px;
  margin-top: -30px;
}

#section-2-2 {
  display: block;
  margin-left: auto;
  margin-right: 10%;
  overflow: visible;
  z-index: 999;
  margin-top: 50px;

}

#section-2-3 {
  display: block;
  margin-left: 1%;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-bottom: -180px;
  margin-top: 30px;
}

#section-2-4 {
  display: block;
  margin-left: 10%;
  margin-right: auto;
  overflow: visible;
  z-index: 999;
  margin-top: -10px;
  margin-bottom: 60px;

}

#section-2-5 {
  display: block;
  margin-left: auto;
  margin-right: 1%;
  overflow: visible;
  z-index: 1000;
  margin-bottom: 0px;
  margin-top: 30px;
}

#section-2-6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-bottom: -40px;
}

.section-2-text {
  font-family: 'Karla', sans-serif;
  font-size: .95em;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: .002em;
  color: #1414ef;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.name {
  font-size: 1em;
  margin-bottom: -7px;
  margin-top: 60px;
  font-weight: 700;
}

.name-2 {
  font-size: 1em;
  margin-bottom: -7px;
  padding-top: 40px;
  font-weight: 700;
}

.space {
  margin-bottom: 60px;
}

.section-3-text {
  font-family: 'Karla', sans-serif;
  font-size: .95em;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: .002em;
  color: #1414ef;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: left;
}

.section-end-text {
  font-family: 'Karla', sans-serif;
  font-size: .95em;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: .002em;
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: left;
}

#white-space-1 {
  background: white;
  width: 78%;
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 30px;
  z-index: 0;
  margin-bottom: 150px;

  border-radius: 25px;
  border: 2px solid #1414ef;
  z-index: 10;
}

#white-space-2 {
  background: white;
  width: 78%;
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 30px;
  z-index: 0;
  margin-bottom: 150px;

  border-radius: 25px;
  border: 2px solid #1414ef;
  z-index: 10;
}

#white-space-4 {
  background: white;
  width: 78%;
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 30px;
  z-index: 0;
    margin-bottom: 150px;

    border-radius: 25px;
    border: 2px solid #1414ef;
    z-index: 10;
}

#white-space-5 {
  background: #1928eb;
  width: 78%;
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 30px;
  z-index: 0;
  margin-bottom: 150px;

  border-radius: 25px;
}

#image {
  height: auto;
  margin-left: 11%;
  margin-top: -40px;
  z-index: 0;
  margin-bottom: 75px;

  border-radius: 25px;
  border: 2px solid #1414ef;
  z-index: 10;
}


#section-4-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: 30px;
}

#section-4-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: 0px;
}

#section-5-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  overflow: visible;
  width: 40%;
  z-index: 1000;
}

#section-5-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-bottom: 0px;
}


#section-5-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-right: -1%;
  overflow: visible;
  z-index: 1000;
  margin-bottom: -50px;
}

#section-5-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-bottom: 30px;
  margin-left: 5%;
}

#ball-1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: 10%;
  margin-left: -3%;
}

#ball-2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: 40%;
  margin-left: 63%;
}

#ball-3 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: -50%;
  margin-left: 64%;
}

#ball-4 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: 50%;
  margin-left: 2%;
}

#ball-5 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: -30%;
  margin-left: -2%;
}

#ball-6 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: -10%;
  margin-left: 60%;
}

#section-6-1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: -25%;
  margin-left: 2%;
  z-index: 10;
}

#section-6-2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 1000;
  margin-top: -7%;
  margin-left: 45%;
}


.section-6-text {
  font-family: 'Karla', sans-serif;
  font-size: .95em;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: .002em;
  color: #1414ef;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 40px;
}


.body-text {
  font-family: 'Crimson Text', serif;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: .002em;
  color: #1414ef;
  width: 71%;
  transform: translateX(21%);
}


.line-break {
  height: 10px;
}

.container-2 {
  height: 1000px;
}

#section-2-space {
  background: #fec7c8;
  width: 60%;
  max-width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: 22%;
  margin-top: 100px;
  padding-bottom: 40px;
  z-index: 0;

  position: sticky;
  position: -webkit-sticky;
  top: 30%;
  margin-bottom: -70px;
}

#section-2 {
  width: 80%;
  margin-left: 7%;
  margin-top: 7%;
  z-index: -1;
}

#white-space-3 {
  background: white;
  width: 78%;
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 50px;
  z-index: 10;
  position: relative;
}

a {
  color: #eb7975;
}

.section-end-text a {
  color: white;
}


#bottom-padding {
  height: 300px;
}


.footnote {
  font-family: 'Karla', sans-serif;
  font-size: .63em;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: .0005em;
  color: #1414ef;
  z-index: 10;
}

sup {
  font-family: 'Karla', sans-serif;
  font-size: .59em;
  font-weight: 600;
  line-height: 1.4em;
  color: #eb7975;
  text-decoration: underline;
  z-index: 9;
}

.foot-sup {
  font-size: 1em;
  margin-left: -7px;
  text-decoration: none;
  z-index: 9;
}


#green-box-1, #green-box-2, #green-box-3, #green-box-4,
#green-box-5, #green-box-6, #green-box-7, #green-box-8, #green-box-9 {
  position: absolute;
  width: 200px;
  height: auto;
  margin-top: -7px;
  background: white;
  padding: 12px 16px 15px 18px;
  display: none;
  margin-left: calc(50% - 100px);

  border-radius: 25px;
  border: 2px solid #1414ef;
  z-index: 10;

}

#green-box-4 {
  width: 350px;
  margin-left: 10%;
  z-index: 10;
}

.super {
  position: absolute;
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.4em;
  color: #eb7975;
  text-decoration: underline;
  padding: 10px;
  background: none;
  margin: -10px 0px 0px -13px;
}


/* MENU JUNK */

.little-rule {
  margin-right: 35px;
  margin-top: -25px;
  margin-bottom: -10px;
  border: 0;
  height: 1px;
  background: #1414ef;
}


.chapters {
  width: 175px;
  margin-left: 23px;
  top: 0;
  bottom: 0;
}

.right-arrow {
  float: right;
  position: absolute;
  z-index: 50;
  top: 30px;
  right: 14px;
}

#numbers {
  position: fixed;
  z-index: 50;
  right: 0px;
  top: 0;
  bottom: 0;
  background: #faefe6;
  width: 34px;
  color: #1414ef;
  font-family: 'Karla', sans-serif;
  font-size: .6em;
  font-weight: 700;
  line-height: .5em;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item {
  max-width: 50%;
}

.top {
  align-self: flex-start;
  margin-left: 15px;
}

.bottom {
  align-self: flex-end;
  margin-right: 10px;
}

.this-chapter {
  color: #eb7975;
}

#showLeft {
  position: fixed;
  z-index: 201;
  top: 10px;
  left: 9px;
  background: none;
}

#showLeft > p {
  font-size: 0px;
}

.sentiments-menu {
	position: fixed;
	color: #1414ef;
	background: #faefe6;
  overflow: scroll;
  width: 230px;
	height: 100%;
	top: 0;
	z-index: 200;
  left: -196px;
}

.tumblr {
  margin-top: -30px;
}

.sentiments-menu > p {
    padding: 5px 34px 20px 40px;
    font-size: 16px;
    line-height: 19px;
  }

.sentiments-menu a {
  color: #1414ef;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
}

.sentiments-menu a:hover{
  color: #eb7975;
}

.sentiments-menu-left.sentiments-menu-open {
	left: 0px;
}

.sentiments-menu, .about-menu {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

#smaller-text {
  font-size: 14px;
  padding: 12px 29px 20px 40px;
  line-height: 1.3em;
}

#showRight {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 34px;
  background: none;
  z-index: 200;
}

#showRight > p {
  font-size: 0px;
}

.about-menu {
  position: fixed;
	color: #1414ef;
	background: #faefe6;
  overflow: scroll;
  width: 230px;
	height: 100%;
	top: 0;
	z-index: 75;
  right: -230px;
}

.about-menu a {
  color: #1414ef;
  text-decoration: none;
}

.about-menu a:hover{
  color: #eb7975;
}

.about-menu > p {
  color: #1414ef;
  font-family: 'Karla', sans-serif;
  font-size: .65em;
  font-weight: 700;
  line-height: 1.4em;
  text-align: left;
  margin: -17px 0 -27px 0;
}

hr {
  border: 0;
  height: 1px;
  background: #1414ef;
  margin-left: 23px;
  margin-right: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about-menu > p {
  padding: 10px 34px 20px 23px;
}

.about-menu-right.about-menu-open {
	right: 0px;
}

.not-this {
  text-decoration: line-through;
  text-decoration-color: #eb7975;
}
